DATABASE_URL="your_database_url_here"
NEXTAUTH_SECRET="your_nextauth_secret_here"
NEXTAUTH_URL="https://pos-glopresc.vercel.app"
APP_URL="https://pos-glopresc.vercel.app"
APP_NAME="SSV Shop POS"
APP_ENV="production"
FLW_PUBLIC_KEY="your_flutterwave_public_key"
FLW_SECRET_KEY="your_flutterwave_secret_key"
FLW_ENCRYPTION_KEY="your_flutterwave_encryption_key"
NEXT_PUBLIC_FLW_PUBLIC_KEY="your_flutterwave_public_key"
